streamlit==1.33.0

langchain==0.1.14

openai==1.23.2

tiktoken==0.5.1


faiss-cpu==1.7.4



pypdf==3.17.4

python-dotenv==1.0.1

transformers==4.40.1

torch==2.3.0





pdfplumber

faiss-cpu

pyngrok

scikit-learn

sentence_transformers



torch==2.7.0

transformers==4.51.3

sentence-transformers==4.1.0

scikit-learn==1.6.1


huggingface_hub[hf_xet]==0.31.2

pdfplumber==0.11.6

pandas==2.2.3


numpy==2.2.5

scipy==1.15.3

requests==2.32.3

pyarrow==20.0.0

langchain==0.3.25


